/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.planner {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.task-input-area {
    padding: 20px;
}

.task-list-area {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task-input {
    width: 70%;
    padding: 5px;
}

.calendar-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.calendar {
    width: 100%;
    height: 35vh;
}

h2 {
    margin-top: 0;
}